*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:focus {
  border: 0;
}

li {
  list-style: none;
}

button {
  border: 0;
}

button:hover {
  cursor: pointer;
}

button:focus {
  border: 0;
  outline: 0;
}

input {
  font-family: inherit;
  font-size: inherit;
  border: 0;
  outline: 0;
}

.container {
  max-width: 1400px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.slider__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  position: absolute;
  z-index: 1;
  bottom: 6%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider__nav-li {
  width: 10px;
  height: 10px;
  background: #FADCD9;
  border-radius: 50%;
}

.slider__nav-li:hover {
  cursor: pointer;
}

.slider__nav-li.current {
  background: #F79489;
}

.header__slider {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.header__slider img {
  width: 100%;
  height: 100%;
}

.header__slider .slider__slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
}

.about .slider__nav {
  bottom: -12%;
}

.about .slider {
  max-width: 1760px;
  display: block;
}

.about .slider__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 60px;
}

.slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.slider__slide {
  position: relative;
  text-align: center;
}

.header {
  color: #fff;
}

.header__row-1 {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 1;
  margin-top: 8%;
}

.header__slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin-top: -82px;
}

.header .buttons {
  position: relative;
  padding-top: 46px;
}

.header .bag {
  background: rgba(0, 0, 0, 0);
}

.header .bag:hover svg path:first-of-type {
  stroke: #FADCD9;
}

.header .bag:hover svg path:last-of-type {
  fill: #FADCD9;
}

html,
body {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer {
  padding-top: 100px;
  background: -o-linear-gradient(174.42deg, #000000 0%, #4B4B4B 100%);
  background: linear-gradient(275.58deg, #000000 0%, #4B4B4B 100%);
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
  margin-bottom: 175px;
}

.footer__content .logo {
  margin-right: 120px;
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  padding: 65px 0 0 40px;
  min-width: 120px;
}

.footer .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1250px;
  width: 100%;
  color: #fff;
}

.footer .columns_mr_82 {
  margin-right: 82px;
}

.footer .columns__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #FADCD9;
  margin-bottom: 24px;
}

.footer .columns__name__list {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 19px;
  line-height: 22px;
}

.footer .columns__name:not(:last-child) {
  margin-right: 58px;
}

.footer .columns__li {
  margin-bottom: 23px;
}

.footer .columns__link {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer .columns__link:hover {
  color: #FADCD9;
}

.copyright {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

.accordion {
  position: relative;
  padding-right: 54px;
  overflow: hidden;
  max-width: 872px;
  min-height: 36px;
  text-align: start;
  margin-bottom: 20px;
}

.accordion__content {
  position: relative;
  z-index: 1;
  padding-right: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -120%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 300;
  font-size: 18px;
  line-height: 200%;
}

.accordion__label {
  position: relative;
  z-index: 2;
  width: 100%;
  min-height: 30px;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: white;
}

.accordion__label:hover {
  color: #F79489;
  cursor: pointer;
}

.accordion__label::after,
.accordion__label::before {
  content: "";
  position: absolute;
  background-color: #F79489;
}

.accordion__label::before {
  top: 62%;
  right: 12px;
  margin: -5px 0 0 -5px;
  width: 16px;
  height: 2px;
}

.accordion__label::after {
  top: 42%;
  right: 19px;
  margin: -5px 0 0 -5px;
  width: 2px;
  height: 16px;
  background-color: #F79489;
}

.accordion__checkbox {
  display: none;
}

.accordion__checkbox:checked ~ .accordion__content {
  margin-top: 0%;
}

.accordion__checkbox:checked ~ .accordion__label::after {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.burg {
  display: none;
  width: 32px;
  height: 32px;
  overflow: hidden;
  position: relative;
  background: transparent;
  margin-top: 21px;
  width: 27px;
  height: 26px;
  margin-top: 35px;
  z-index: 10;
}

.burg span {
  width: 26px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -1px);
      -ms-transform: translate(0, -1px);
          transform: translate(0, -1px);
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.burg:hover {
  cursor: pointer;
}

.burg::before,
.burg::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.burg::before {
  top: 6px;
}

.burg::after {
  bottom: 6px;
}

.burg.open span {
  -webkit-transform: translate(110%, -1px);
      -ms-transform: translate(110%, -1px);
          transform: translate(110%, -1px);
  background-color: #fff;
}

.burg.open::before,
.burg.open::after {
  background-color: #fff;
}

.burg.open::before {
  -webkit-transform-origin: 0%;
      -ms-transform-origin: 0%;
          transform-origin: 0%;
  /* top: 16px; */
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 15%;
  top: 4px;
}

.burg.open::after {
  /* bottom: 14px; */
  bottom: 2px;
  left: 15%;
  -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: local("Poppins"), url(/fonts/Poppins-Regular.woff2), url(/fonts/Poppins-Regular.woff);
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: local("Poppins"), url(/fonts/Poppins-Medium.woff2), url(/fonts/Poppins-Medium.woff);
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: local("Poppins"), url(/fonts/Poppins-SemiBold.woff2) url(/fonts/Poppins-SemiBold.woff);
}

.container-1920 {
  max-width: 2080px;
  width: 100%;
  padding: 0 80px;
  margin: 0 auto;
}

a:focus,
button:focus {
  outline: 1px solid #FADCD9;
}

body {
  font-family: Poppins;
  color: #564E4E;
}

input {
  color: white;
  caret-color: white;
}

.search {
  width: 100%;
}

.search__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  max-width: 580px;
  margin-bottom: 40px;
}

.search__text {
  max-width: 574px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  margin-bottom: 60px;
}

.logo {
  position: relative;
  z-index: 2;
  padding-top: 40px;
}

.logo * {
  width: 100%;
}

@-webkit-keyframes animContactsMenu {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  50% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }

  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes animContactsMenu {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  50% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }

  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.nav {
  position: relative;
  z-index: 2;
  max-width: 460px;
  width: 100%;
  margin-left: -94px;
  padding-top: 45px;
  color: white;
  font-size: 18px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.nav.show {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.nav.show li {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.nav.show::before {
  opacity: 0.6;
  -webkit-transition: opacity 0.3s 0.2s;
  -o-transition: opacity 0.3s 0.2s;
  transition: opacity 0.3s 0.2s;
  width: 100%;
}

.nav__list {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav li {
  margin-right: 60px;
}

.nav li:last-child {
  margin-right: 0;
}

.nav__link {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.nav__link:focus {
  outline: 1px solid #FADCD9;
}

.nav__link:hover {
  color: #FADCD9;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  text-align: center;
  max-width: 580px;
  margin-bottom: 58px;
}

.form {
  position: relative;
  max-width: 360px;
  width: 100%;
  caret-color: #F79489;
}

.form__input {
  height: 60px;
  width: 100%;
  padding: 0 60px 0 12px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #FFFFFF;
  border-radius: 30px;
}

.form__input::-webkit-input-placeholder {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 200%;
}

.form__input::-moz-placeholder {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 200%;
}

.form__input:-ms-input-placeholder {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 200%;
}

.form__input::-ms-input-placeholder {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 200%;
}

.form__input::placeholder {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 200%;
}

.form__submit {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  position: absolute;
  right: 9px;
  top: 50%;
  margin-top: -19px;
}

.form__submit img {
  width: 100%;
}

.form__submit:focus svg circle {
  fill: #FADCD9;
}

.form__submit svg circle {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.form__submit:hover svg circle {
  fill: #FADCD9;
}

.form_border_red .form__input {
  background: #FEFCFB;
  border: 1px solid #FADCD9;
}

.form_border_red .form__input::-webkit-input-placeholder {
  color: #F79489;
}

.form_border_red .form__input::-moz-placeholder {
  color: #F79489;
}

.form_border_red .form__input:-ms-input-placeholder {
  color: #F79489;
}

.form_border_red .form__input::-ms-input-placeholder {
  color: #F79489;
}

.form_border_red .form__input::placeholder {
  color: #F79489;
}

.form_border_red .form__submit {
  width: 44px;
  height: 44px;
  margin-top: -22px;
}

.why {
  padding-top: 72px;
  min-height: 420px;
}

.why__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 200%;
  margin-bottom: 16px;
}

.why__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0;
  padding: 0;
}

.article {
  max-width: 425px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  border-color: #FADCD9;
  padding: 15px 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid rgba(250, 220, 217, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
}

.article .flex-img-wrapper {
  width: 100%;
}

.article .flex-img-wrapper img {
  width: 100%;
  display: block;
}

.article__img-wrapper {
  padding-left: 20px;
}

.article__img {
  position: relative;
  width: 60px;
  height: 60px;
}

.article__text-content {
  margin-bottom: auto;
  padding: 0 8px 0 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 0 8px 0 10px;
}

.article__title {
  padding-top: 6px;
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  margin-bottom: 12px;
}

.article__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  margin-bottom: 25px;
}

.article__more {
  display: block;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  color: #F79489;
  text-transform: capitalize;
  -ms-flex-item-align: start;
      align-self: start;
}

.article__more:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.article__more:focus {
  outline: 1px solid #f07669;
}

.article_algn-sef_end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.visualize {
  padding-top: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.visualize__text-block {
  overflow: auto;
  max-width: 858px;
  max-height: 600px;
}

.visualize__text-block::-webkit-scrollbar {
  width: 3px;
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #fff), color-stop(30%, #FADCD9), color-stop(70%, #FADCD9), color-stop(70%, #fff));
  background: linear-gradient(to right, #fff 30%, #FADCD9 30%, #FADCD9 70%, #fff 70%);
}

.visualize__text-block::-webkit-scrollbar-thumb {
  background-color: #F79489;
}

.visualize__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 200%;
  margin-bottom: 14px;
}

.visualize__text {
  max-width: 800px;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  margin-bottom: 20px;
}

.visualize__more {
  color: #F79489;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.visualize__more:hover {
  text-shadow: 0px 0px 10px rgba(247, 148, 137, 0.8);
}

.visualize__image * {
  max-width: 870px;
}

.visualize__image img {
  width: 100%;
  height: auto;
  border-radius: 60px 60px 0px 60px;
}

.featured {
  padding-top: 205px;
}

.featured__title {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 200%;
  margin-bottom: 40px;
}

.featured__items {
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  padding: 0;
}

.featured-mb-200 {
  margin-bottom: 200px;
}

.card {
  max-width: 425px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 160px;
          flex: 1 1 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0;
  padding: 0;
  border: 1px solid rgba(250, 220, 217, 0);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.card .flex-img-wrapper {
  width: 100%;
}

.card .flex-img-wrapper img {
  width: 100%;
  display: block;
}

.card:hover {
  background: rgba(255, 255, 255, 0.2);
  /* border: 1px solid #FADCD9;
  box-shadow: 4px 2px 10px 2px rgba(247, 148, 137, 0.2); */
  -webkit-box-shadow: 4px 2px 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 2px 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  cursor: pointer;
  -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
          transform: scale(1.01);
}

.card__img-wrapper {
  width: 425px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
}

.card__info {
  padding-left: 20px;
}

.card__name {
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  margin-bottom: 10px;
}

.card__category {
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  color: #C4C4C4;
  margin-bottom: 8px;
}

.card__rating {
  margin-bottom: 10px;
}

.card__price {
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
}

.about {
  padding-top: 85px;
  min-height: 800px;
  background: -o-linear-gradient(170.15deg, #FFFFFF 0%, #FAF5F2 100%);
  background: linear-gradient(279.85deg, #FFFFFF 0%, #FAF5F2 100%);
}

.about__title {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 200%;
  margin-bottom: 108px;
}

.about__mobile {
  display: none;
}

.comment {
  /* max-width: 540px; */
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.comment * > {
  width: 100%;
}

.comment__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 200%;
  margin-bottom: 10px;
}

.comment__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  margin-bottom: 22px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: start;
}

.comment__avatar {
  display: block;
  width: 60px;
  height: 60px;
  margin-top: auto;
}

.comment__avatar img {
  border-radius: 100%;
  overflow: hidden;
}

.comment__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: auto;
}

.comment__text-person {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment__name-person {
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  text-align: start;
}

.comment__profession-person {
  font-weight: 300;
  font-size: 14px;
  line-height: 200%;
  text-align: start;
}

.make {
  padding-top: 200px;
  padding-bottom: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.make__text-block {
  overflow: auto;
  max-height: 600px;
  margin-right: 10px;
}

.make__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 200%;
  margin-bottom: 20px;
}

.make__text {
  max-width: 800px;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  margin-bottom: 38px;
}

.make__image * {
  max-width: 870px;
}

.make__image img {
  width: 100%;
  height: auto;
  border-radius: 60px 60px 60px 0px;
}

.make .form {
  max-width: 400px;
}

.make .form__input {
  color: #F79489;
  caret-color: #F79489;
}

.make .form:before {
  margin-top: -22px;
}

/* .swiper {
    max-width: 900px;
    height: 300px;

    background-color: beige;
}

.swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    background-color: green;
}
.swiper-slide{
    height: calc((100% - 30px) / 2);
    overflow: hidden;
} */

@media (max-width: 1400px) {
  .search__title {
    line-height: 56px;
    font-size: 38px;
    margin-bottom: 30px;
  }

  .search__text {
    max-width: 500px;
    font-size: 16px;
    margin-bottom: 50px;
  }

  .search .form__input {
    height: 50px;
  }
}

@media (max-width: 1180px) {
  .header__search {
    margin-top: 6%;
  }

  .visualize__title {
    font-size: 30px;
    line-height: 150%;
  }

  .visualize__text {
    font-size: 15px;
    margin-bottom: 25px;
  }

  .make__title {
    font-size: 30px;
    line-height: 150%;
  }

  .make__text {
    font-size: 15px;
    margin-bottom: 25px;
  }
}

@media (max-width: 1024px) {
  .container-1920 {
    padding: 0 20px;
  }

  .search__title {
    max-width: 365px;
    line-height: 33px;
    font-size: 25px;
    margin-bottom: 22px;
  }

  .search__text {
    max-width: 420px;
    line-height: 146%;
    font-size: 14px;
    margin-bottom: 26px;
  }

  .nav {
    margin-left: 0;
  }

  .comment__person {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .header .buttons {
    margin-left: auto;
    margin-right: 12px;
    padding-top: 36px;
  }

  .burg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .nav {
    max-width: 460px;
    height: 100vh;
    position: absolute;
    background-color: white;
    color: #564E4E;
    padding-top: 20%;
    margin: 0;
    left: 0;
    top: 0;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  .nav::before {
    content: "";
    left: 460px;
    top: -25%;
    position: absolute;
    width: 100%;
    height: 125%;
    opacity: 0;
    width: 0;
    background: #000;
  }

  .nav ul {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .nav ul li {
    margin-bottom: 25px;
    margin-right: 0;
    -webkit-transform: translateX(-1000%);
        -ms-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }

  .nav ul a {
    font-size: 1.5em;
    display: inline-block;
  }

  .nav ul li:nth-child(1) {
    -webkit-transition: -webkit-transform 0.2s 0.1s;
    transition: -webkit-transform 0.2s 0.1s;
    -o-transition: transform 0.2s 0.1s;
    transition: transform 0.2s 0.1s;
    transition: transform 0.2s 0.1s, -webkit-transform 0.2s 0.1s;
  }

  .nav ul li:nth-child(2) {
    -webkit-transition: -webkit-transform 0.4s 0.1s;
    transition: -webkit-transform 0.4s 0.1s;
    -o-transition: transform 0.4s 0.1s;
    transition: transform 0.4s 0.1s;
    transition: transform 0.4s 0.1s, -webkit-transform 0.4s 0.1s;
  }

  .nav ul li:nth-child(3) {
    -webkit-transition: -webkit-transform 0.6s 0.1s;
    transition: -webkit-transform 0.6s 0.1s;
    -o-transition: transform 0.6s 0.1s;
    transition: transform 0.6s 0.1s;
    transition: transform 0.6s 0.1s, -webkit-transform 0.6s 0.1s;
  }

  .nav ul li:nth-child(4) {
    -webkit-transition: -webkit-transform 0.8s 0.3s;
    transition: -webkit-transform 0.8s 0.3s;
    -o-transition: transform 0.8s 0.3s;
    transition: transform 0.8s 0.3s;
    transition: transform 0.8s 0.3s, -webkit-transform 0.8s 0.3s;
  }

  .why__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .article {
    min-width: 50%;
  }

  .visualize {
    padding-top: 96px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .card {
    min-width: 40%;
  }

  .slider-wrapper-about {
    display: none;
  }

  .comment__title {
    font-size: 20px;
  }

  .comment__text {
    font-size: 16px;
    line-height: 180%;
  }

  .comment__person {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .make {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 765px) {
  .visualize__text-block {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .visualize__image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 92px;
  }

  .about__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
}

@media (max-width: 490px) {
  .burg.open span,
  .burg.open::before,
  .burg.open::after {
    background-color: #000;
  }
}

@media (max-width: 425px) {
  .header .buttons {
    padding-top: 22px;
    margin-right: 12px;
  }

  .footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__content .logo {
    padding: 0px 0 0 24px;
    margin-bottom: 36px;
  }

  .footer .columns {
    -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer .columns__name {
    font-size: 14px;
    line-height: 21px;
  }

  .footer .columns__link {
    font-size: 12px;
    line-height: 18px;
  }

  .burg {
    margin-top: 21px;
    width: 27px;
    height: 26px;
  }

  .logo {
    max-width: 87px;
    padding-top: 19px;
  }
}

@media (max-width: 375px) {
  .header__search {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }

  .footer {
    height: auto;
    padding-top: 32px;
  }

  .accordion {
    padding-right: 0px;
  }

  .accordion__content {
    font-size: 12px;
    padding-right: 0px;
  }

  .accordion__label {
    font-size: 12px;
  }

  .container-1920 {
    padding: 0 20px;
  }

  .search {
    top: 0;
    left: 0;
    margin: 0;
  }

  .search__title {
    padding-top: 85px;
    font-size: 18px;
    line-height: 27px;
    max-width: 250px;
    margin-bottom: 18px;
  }

  .search__text {
    text-align: center;
    font-size: 12px;
    max-width: 298px;
    font-weight: 400;
    line-height: 200%;
    margin-bottom: 22px;
  }

  .search .form__submit {
    width: 32px;
    height: 32px;
    margin-top: -17px;
    right: 5px;
  }

  .search .form__submit svg {
    width: 32px;
    height: 32px;
  }

  .form {
    max-width: 280px;
    max-height: 38px;
  }

  .form__input {
    max-width: 280px;
    max-height: 38px;
  }

  .form__submit {
    right: 48px;
    width: 32px;
    height: 32px;
    margin-top: -16px;
  }

  .form_border_red .form__submit {
    right: 48px;
    width: 32px;
    height: 32px;
    margin-top: -16px;
  }

  .why {
    padding-top: 20px;
  }

  .why__title {
    display: none;
  }

  .why__items {
    gap: 15px;
  }

  .article {
    -ms-flex-preferred-size: 335px;
        flex-basis: 335px;
    max-width: 50%;
  }

  .article__img-wrapper {
    padding-left: 6px;
    margin-top: -10px;
    height: 34px;
  }

  .article__img {
    width: 34px;
    height: 34px;
  }

  .article__text-content {
    padding: 0 8px;
  }

  .article__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 200%;
    margin-bottom: 0px;
  }

  .article__text {
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 8px;
  }

  .article__more {
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
  }

  .visualize__title {
    font-size: 18px;
    margin-bottom: 22px;
  }

  .visualize__text {
    font-size: 12px;
    margin-bottom: 40px;
  }

  .visualize__more {
    font-size: 12px;
  }

  .visualize__image img {
    border-radius: 20px 20px 0px 20px;
  }

  .featured {
    padding-top: 90px;
  }

  .featured__title {
    font-size: 18px;
  }

  .featured-mb-200 {
    margin-bottom: 110px;
  }

  .about__title {
    font-size: 18px;
  }

  .comment__title {
    font-size: 14px;
  }

  .comment__text {
    font-size: 12px;
  }

  .comment__name-person {
    font-size: 12px;
  }

  .comment__profession-person {
    font-size: 12px;
  }

  .make__title {
    font-size: 14px;
  }

  .make__text {
    font-size: 12px;
  }

  .make__image img {
    border-radius: 30px 30px 30px 0px;
  }
}

@media (max-width: 320px) {
  .form_border_red .form__submit {
    right: 4px;
  }
}