.img-wrapper {
    background-color: aqua;
    position: relative;
    
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
    }

    &-1x1 {
        padding-top: 100%;
    }
    &-4x3 {
        padding-top: 75%;
    }
    &-3x2 {
        padding-top: 66.67%;
    }
    &-3x2 {
        padding-top: 56.25%;
    }
}

/*
<div class="img-wrapper img-wrapper-4x3">
	<img class="img-wrapper__image" src="img/" alt="">
</div>

max-width на родителе враппера
*/